
body{
  display: flex;
  justify-content: center;
  align-items: center;  
  min-height: 70vh;
  background-color: rgb(210, 210, 210);
  font-size: 22px;
}

h1{
  display: block;
  text-align: center;
  font-size: 100px;
  margin-bottom: 0;
  color: brown;
  opacity: 0.5;
}

